<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Michele Matos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MicheleMatos.styles.css" asp-append-version="true" />
</head>
<body style="background-color: #555555;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light py-3 box-shadow mb-3" style="background-color: #f0f0f0;">
            <div class="col-md-1"></div>
            <a class="navbar-brand col-md-2" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/images/logo_mi-sem__fundo.png" alt="Michele Matos" width="300" height="192">
            </a>
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse col-md-7">
                    <ul class="navbar-nav flex-grow-1 justify-content-between">
                        <li class="nav-item fixed-middle">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Comprar">
                                <p class="fs-4 text" style="color: #555555">Comprar</p>
                            </a>
                        </li>
                        <li class="nav-item fixed-middle">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Alugar">
                                <p class="fs-4 text" style="color: #555555">Alugar</p>
                            </a>
                        </li>
                        <li class="nav-item fixed-middle">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Alugar">
                                <p class="fs-4 text" style="color: #555555">Anunciar um Imóvel</p>
                            </a>
                        </li>
                        <li class="nav-item fixed-middle">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Create">
                                <p class="fs-4 text" style="color: #555555">Encomendar um Imóvel</p>
                            </a>
                        </li>
                    </ul>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="d-flex">
            <span class="flex-row" style="color: #fff">Todos os direitos reservado &copy; 2023 - Michele Matos - Corretora de Imóveis - CRECI 160413</span>
            <span class="flex-row-reverse">
                @await Html.PartialAsync("_LoginPartial")
            </span>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>