<h1>Localidades</h1>
<h4>Escolha uma opção:</h4>

<div class="row">
    <a class="btn btn-outline-dark col-md-3" asp-area="Admin" asp-controller="AdminEstados" asp-action="Index">Estados</a>
    <a class="btn btn-outline-dark col-md-3" asp-area="Admin" asp-controller="AdminCidades" asp-action="Index">Cidades</a>
    <a class="btn btn-outline-dark col-md-3" asp-area="Admin" asp-controller="AdminBairros" asp-action="Index">Bairros</a>
    <a class="btn btn-outline-dark col-md-3" asp-area="Admin" asp-controller="AdminCondominios" asp-action="Index">Condomínios</a>
</div>
<hr />
<div>
    <a class="btn btn-outline-dark col-md-12" asp-area="Admin" asp-controller="Admin" asp-action="Index">Voltar</a>
</div>