@model MiMatos.Models.Condominio

<h1>Nenhum imóvel cadastrado no @Model.Nome</h1>

<a class="btn btn-primary" asp-action="Create">Cadastrar imóvel</a>
<a class="btn btn-secondary" asp-action="Index" asp-controller="AdminCondominios">Voltar para Condomínios</a>