@model MiMatos.Models.Proprietario

<h1>Nenhum imóvel cadastrado de @Model.Nome</h1>

<a class="btn btn-primary" asp-action="Create">Cadastrar imóvel</a>
<a class="btn btn-secondary" asp-action="Index" asp-controller="AdminProprietarios">Voltar para Proprietários</a>